<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="V2 Project module">

<parameter name="browserName" value="chrome"/>
<parameter name="environment" value="Test"/>

<test name="WELL-V2-CoreProject" >
<parameter name="SheetName" value="V2Project"/>
<parameter name="rowNum" value="2"/>
<parameter name="ProjectType" value="WELLCore"/>
<parameter name="Country" value="US"/>
<parameter name="Discount" value="SectorDiscount"/>
<classes>
 <class name="com.Well.testcases.login.TC_01_LoginTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_02_RegisterV2ProjectTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_03_SearchV2ProjectByIdTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_04_EnrollV2ProjectTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_21_PricingV2ProjectTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_05_BillingV2ProjectTest"></class>
<class name="com.Well.testcases.V2Project.V2_TC_06_AgreementV2ProjectTest"></class> 
<class name="com.Well.testcases.V2Project.V2_TC_17_OverviewAndValidateRegisterFieldsV2ProjectTest"></class> 

</classes>
</test>

 
</suite>  